<header id="header" class="">
    <div class="">
        <nav class="nav-product">
            <ul>
                <li>
                    <a class="langex-home" href="/nexus/">Language Exchange</a>
                </li>
                <li>
                    <a class="" href="/nexus/5x/">How it Works</a>
                </li>
                <li>
                    <a class="" href="/nexus/6p/">How to Succeed</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="register-link-container">
        <a class="register-link register-link-trigger uppercase button blue" ng-click="vm.click();" href="javascript:void(0);" style="-webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Register Now</a>
    </div>
    <a class="support-link" data-ui-sref="login">Login</a>

</header>